.elements__remove-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../../../images/trashy_icon.svg);
    width: 18px;
    height: 19.3px;
    align-self: center;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}