.form__item {
  color: black;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  width: 358px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto 13px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-family: inherit;
}

.form__item:last-of-type {
  margin-bottom: 0px;
}

.form__item:focus {
  outline-color: #fff6c5;
}

.form__item::placeholder {
  font-size: 14px;
  font-family: inherit;
  color: #C4C4C4;
}

@media screen and (max-width: 767px) {
  .form__item {
    margin: 0 auto 30px;
    width: 238px;
  }
}
