.form__item {
  color: black;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  width: 358px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto 13px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgb(188, 188, 196);
  background-color: transparent;
  font-family: inherit;
}

.form__item:last-of-type {
  margin-bottom: 0px;
}

.form__item:focus {
  outline-color: #fff6c5;
}
