.profile__subheading {
  color: white;
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
