.header {
  max-width: 880px;
  border-bottom: rgba(84, 84, 84, 0.7) 1px solid;
  margin: 0 auto;
  padding: 45px 0 0;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 28px;
    width: 100%;
  }
}
