.footer__copyright {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-align: left;
  color: #545454;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 19px;
    max-width: 282px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
  }
}
