.profile__name-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 336px;
}

@media screen and (max-width: 767px) {
  .profile__name-block {
    margin-bottom: 9px;
  }
}
