.elements__container {
  width: 246px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 23px 15px 0 21px;
  margin: 0;
  align-items: center;
  min-height: 78px;
  background-color: white;
  border-bottom-right-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}
